{% extends 'index.html' %} {% block title %} Обнаружение {% endblock %} {% block
links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
{% endblock %} {% block body %}

<div class="container1">
  <div class="headcontainer">
    <h1>Определение деформаций сооружений</h1>
  </div>

  <div class="container">
    <form
      action="/upload_images_handler"
      enctype="multipart/form-data"
      method="post"
    >
      <input type="file" id="files" name="files" multiple />
      <input type="submit" value="Добавить" />
    </form>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="submit" value="Обработать" id="ImageButton" />
      <input
        type="range"
        name="range_input"
        id="range"
        min="0"
        max="1"
        value="0"
        step="0.01"
      />
    </form>

    <div class="image-container">
      <div id="loadImages">
        {% for image in images %}
        <img src="{{image}}" alt="Image" />
        {% endfor %}
      </div>
      <div id="processImages">
        {% for image in proc_images %}
        <a href="/{{image}}"><img src="{{image}}" alt="Image" /></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
